:root {
  --color-primary: #4ecca3;
  --color-secondary: #73e4a6;
  --color-grey: #393e46;
  --color-dark: #232931;
  --color-black: #000;
  --color-light: #c7c7c7;
  --color-white: #fff;

  font-size: 10px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: var(--color-dark);
  font-family: 'Lato', sans-serif;
}

body::-webkit-scrollbar {
  width: 1.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--color-light);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

/* Base Styles */

.main {
  width: 70%;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.site-section {
  margin: 2rem auto;
  max-width: 70%;
  text-align: center;
}

.section-header {
  color: var(--color-primary);
  text-transform: uppercase;
  font-size: 2.6rem;
}

.description {
  font-size: 2rem;
  color: var(--color-light);
  margin: 1.5rem auto;
}

.btn {
  padding: 2rem 4rem;
  color: var(--color-dark);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

/* Navigator Styles */

.navigator {
  position: fixed;
  background-color: var(--color-grey);
  color: var(--color-light);
  width: 100%;
  z-index: 100;
}

.brand-li {
  margin-right: auto;
}

.brand-container {
  position: relative;
  height: 7rem;
  width: 7rem;
  cursor: pointer;
  text-align: center;
}

.brand-line {
  position: absolute;
  top: 2.5rem;
  width: 5rem;
  height: 0.6rem;
  background-color: var(--color-primary);
  transition: transform 0.5s ease;
}

.brand2 {
  top: 3.5rem;
}

.brand1.active {
  transform: translateY(-1.5rem);
}

.brand2.active {
  transform: translateY(1.5rem);
}

.brand-name {
  position: absolute;
  top: 2rem;
  left: 0.5rem;
  font-weight: 700;
  color: var(--color-primary);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.brand-name.active {
  opacity: 1;
}

.nav-container {
  width: 70%;
  margin: 0 auto;
}

.navigator-nav {
  width: 100%;
  margin: 0 auto;
  list-style: none;
  font-size: 2rem;
  justify-content: flex-end;
}

.nav-item {
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color: var(--color-primary);
}

.nav-link {
  color: var(--color-light);
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link > * {
  display: block;
  text-align: center;
}

.nav-link i {
  padding: 1rem 2rem 0.5rem;
}

.nav-link .link-text {
  padding: 0 2rem 1rem;
}

.nav-link:hover {
  color: var(--color-white);
}

/* Nav button visible only below 768px screen width */

.nav-btn {
  display: none;
  cursor: pointer;
  position: relative;
  height: 7rem;
  width: 7rem;
  background-color: transparent;
  border: none;
}

.nav-btn .line {
  background-color: var(--color-primary);
  height: 1rem;
  width: 5rem;
  position: absolute;
  transition: transform 0.5s ease-in-out;
  top: 1.5rem;
  right: 1rem;
}

.nav-btn .line2 {
  top: auto;
  bottom: 1.5rem;
}

/* Hero Section */

.hero {
  min-height: 100vh;
}

/* Featured Work Section */

.featured {
  min-height: 50vh;
}

.featured-main-container {
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 4rem 0;
}

.project-container {
  position: relative;  
  height: 20rem;
  width: 35rem;
  color: var(--color-white);
  overflow: hidden;
  margin: 1rem;
}

.project-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.project-image.active {
  transform: scale(1.15);
}

.project-container figure,
.project-container .project-caption,
.project-container .overlay {
  position: absolute;
  top: 0; 
  left: 0;
  height: 100%;
  width: 100%;
}

.project-caption {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  font-size: 1.6rem;
  transition: 0.3s ease-in-out opacity; 
}

.project-caption.active {
  opacity: 1;
}

.project-container .project-caption h2 {
  margin-bottom: 2rem;
  user-select: none;
}

.project-link {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-secondary);
  font-weight: 600;
  padding: 1rem;
  border-radius: 0.5rem;
  border: transparent 0.3rem solid;
}

.project-link:hover {
  border: 0.3rem var(--color-primary) solid;
  background-color: transparent;
}

.overlay {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  transition: opacity 0.3s ease;
}

.overlay.active {
  opacity: 1;
}

.mini-projects-container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.mini-project {
  background-color: var(--color-secondary);
  padding: 2rem;
  font-size: 1.4rem;
  min-width: 25rem;
}

.mini-project:hover {
  background-color: var(--color-primary);
}

.project-name {
  margin-bottom: 1rem;
}

.mini-link {
  padding: 0.5rem;
  text-decoration: none;
  margin: 0.5rem 0;
  color: var(--color-white);
}

.mini-link:hover {
  color: var(--color-dark);
  background-color: var(--color-secondary);
}

/* Skillset Section */

.skills {
  text-align: center;
}

.skills .description {
  margin: 2.4rem;
}

.skillset-main-container {
  justify-content: center;
}

.skillset-container {
  background-color: var(--color-grey);
  padding: 7rem 4.5rem;
}

.skillset-container figure {
  margin-bottom: 3.2rem;
}

.skill-title {
  color: var(--color-secondary);
  font-size: 2rem;
  margin: 2.4rem 0;
}

.skill-icon {
  font-size: 3rem;
  color: var(--color-primary);
}

.skills ul {
  list-style: none;
  font-size: 1.8rem;
  color: var(--color-light);
}

/* About Section*/

.about {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.inner-about-container {

}

/* .about-main-container {
  width: 100%;
} */

.about-me {
  margin: 0;
  max-width: 25vw;
  text-align: left;
  padding: 2rem;
}


/* Contact Section */



.contact-form {
  text-align: left;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* background-color: var(--color-grey); */
  max-width: 70rem;
  margin: 0 auto;
  padding: 4rem 8rem;
}

.form-div,
.contact label,
.form-email, 
.form-message {
  display: block;
}

.form-email,
.form-message {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: var(--color-white);
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 2rem;
  border-bottom: 0.3rem solid var(--color-light);
}

.form-email:focus,
.form-message:focus {
  outline: none;
  border-bottom: 0.3rem solid var(--color-secondary);
}

.form-message {
  resize: none;
  min-height: 10rem;
}

.contact label {
  font-size: 2rem;
  color: var(--color-light);
}

.form-btn {
  font-family: 'Roboto', sans-serif;
  padding: 2rem;
  display: block;
  background-color: transparent;
  border: 0.2rem solid var(--color-primary);
  cursor: pointer;
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: 600;
  font-size: 2rem;
}

.form-btn:hover {
  background-color: var(--color-primary);
}

/* Footer Section */




/* Media Queries */

@media (max-width: 375px) {
  
  main {
    width: 100%;
    margin: 0 auto;
  }

}

@media (max-width: 500px) {

  .self-portrait {
    width: 30rem;
  }
}

@media (max-width: 768px) {

  .site-section {
    max-width: 90%;
  }

  .navigator-nav {
    display: none;
    height: 0;
    transition: all 0.5s ease;
  }

  .navigator-nav.active {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .nav-btn {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
  }

  .nav-item {
    display: block;
  }

  .nav-item:hover {
    background-color: transparent;
  }

  .nav-item:hover .nav-link {
    color: var(--color-primary);
  }

  .nav-link {
    display: block;
    padding: 2rem;
    font-weight: 600;
    font-size: 3rem;
  }

  .navigator-nav.active i {
    display: none;
  }

  .navigator-nav.active .link-text {
    padding: 0;
  }

  .nav-btn.active .line1 {
    transform: rotate(-765deg) translateY(2.1rem);
  }

  .nav-btn.active .line2 {
    transform: rotate(765deg) translateY(-2rem);
  }

}

@media (min-width: 1000px) {
  
  .skillset-container:first-child {
    border-radius: 1.5rem 0 0 1.5rem;
    border-right: 1px solid var(--color-secondary);
  }

  .skillset-container:last-child {
    border-left: 1px solid var(--color-secondary);
    border-radius: 0 1.5rem 1.5rem 0;
  }

}

@media (max-width: 1440px) {


}

@media (max-width: 1500px) {


}

@media (max-width: 1000px) {

  
  .navigator-nav {
    justify-content: center;
  }

  .brand-li {
    display: none;
  }

  .description,
  .skills p {
    font-size: 2rem;
  }

  .skillset-main-container {
    flex-direction: column;
  }

  .skillset-container {
    padding: 3.5rem 0;
    border-bottom: 1px solid var(--color-secondary);
  }

  .skillset-container:first-child {
    border-radius: 1.5rem 1.5rem 0 0;
  }

  .skillset-container:last-child {
    border: none;
    border-radius: 0 0 1.5rem 1.5rem;
  }

  .inner-about-container {
    flex-direction: column;
    align-items: center;
  }

  .about-me {
    max-width: 100%;
    margin: 2rem 0;
  }

} 